@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A1B30;
  --backgroundHeader: rgba(10, 27, 48, 0.75);
  --foreground: #00FF88;
  --textColor: #ffffff;
;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1B30;
    --backgroundHeader: rgba(10, 27, 48, 0.75);
    --foreground: #00FF88;
    --textColor: #ffffff;
  }
}


body {
  color: var(--textColor);
  background: var(--background);
  font-family:FuturaPT,sans-serif;
}
