@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A1B30;
  --backgroundHeader: rgba(10, 27, 48, 0.75);
  --foreground: #00FF88;
  --textColor: #ffffff;
;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1B30;
    --backgroundHeader: rgba(10, 27, 48, 0.75);
    --foreground: #00FF88;
    --textColor: #ffffff;
  }
}

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  overflow-x: hidden;
  display: block;
}


body {
  color: var(--textColor);
  background: var(--background);
  font-family: Futura PT Demi Italic;
  color: #fff;
}

@font-face{
  font-family: 'Futura PT Demi Italic';
  src: url('../assets/fonts/futura-book/FuturaPTDemi.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
