@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A1B30;
  --secondbackground:#16253B;
  --backgroundHeader: rgba(10, 27, 48, 0.75);
  --foreground: #00FF88;
  --colorbutton:#00BE65;
  --textColor: #ffffff;
  --foreground-hover: #33FFAA;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A1B30;
    --secondbackground:#16253B;
    --backgroundHeader: rgba(10, 27, 48, 0.75);
    --foreground: #00FF88;
    --colorbutton:#00BE65;
    --textColor: #ffffff;
    --foregroundhover: #0bc578;
  }
}

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  overflow-x: hidden;
  display: block;
}


body {
  color: var(--textColor);
  background: var(--background);
  font-family: Futura PT Demi Italic;
  color: #fff;
  min-height: 100vh;
  display: flex;
}

@font-face{
  font-family: 'Futura PT Demi Italic';
  src: url('../assets/fonts/futura-book/FuturaPTDemi.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.auth-container{
  max-width: 1150px;
  margin: 1rem auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}